<div class="row mini-bio">
  {% assign bio = site.pages | where:"title","About" %}
  {% assign bio = bio[0].content | newline_to_br | split:"<br />" %}
  {% assign about_url = "/about/" | absolute_url %}
  <div class="col-sm-3 col-md-2">
    <div class="alignright">{% avatar shanecurcuru size=100 %}</div>
  </div>
  <div class="col-sm-9 col-md-8">
    {{ bio[2] | append:' <br/><a href="URL">More about the author &rarr;</a>' | replace:"URL",about_url | markdownify }}
  </div>
  <div class="col-md-2">
    <p class="improve-article center">
      <a class="btn btn-primary" href="{{ site.github.repository_url }}/edit/{{ site.branch }}/{{ page.path }}" title="Help improve article {{ page.path }}">Edit</a>
    </p>
    <p class="improve-article center">
      <a href="{{ site.github.repository_url }}/edit/{{ site.branch }}/{{ page.path }}" title="Help improve article {{ page.path }}">This website is open source</a>.
    </p>
  </div>
</div>
