---
layout: default
hero: true
---

<ul class="posts">
{% for page in site.posts %}
  <li class="post">
    <div class="row">
        <div class="col-sm-9">
            <a {% if page.feature %}style="font-weight: bolder;"{% endif %} href="{{ page.url | absolute_url }}">{{ page.title | smartify }}</a>
            <br/>
            <span class="small">{{ page.description | smartify }}</span>
        </div>
        <div class="col-sm-3 date">
            {{ page.date | date: '%B %d, %Y' }}
            <br/>
            <span class="small">{{ page.conference | smartify }}</span>
        </div>
    </div>
  </li>
{% endfor %}
</ul><!-- posts -->
